html {
  height: 100%;
}
body {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.background {
  position: absolute;
  z-index:-1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000 center center no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s;
}
.title {
  position: fixed;
  top: 0;
  left: 0;
  margin: 24px;
}

/* Signin button */
.welcome {
  display: none;
  text-align: center;
  position: fixed;
  top: 45%;
}
.welcome .lead {
  font-size: 4em;
  color: white;
  text-shadow: #222 2px 2px;
}
.signin {
  padding: 1em 3em;
  font-size: 18px;
}
.signin .googleLogo {
  background: transparent url('chrome-extension://__MSG_@@extension_id__/images/icon-google.png') center center no-repeat;
  width: 16px;
  height: 20px;
}

/* Logout button */
.logout {

}

/* Projects section */
.projects {
  display: none;
}

 /* Progress bar for work items */
.progressbar {
  height: 24px;
}

/* Profile pictures */
.profile {
  width: 48px;
  height: 48px;
  opacity: 0;
  transition: opacity 1s;
  background: transparent center center no-repeat;
  background-size: contain;
  filter: invert(1);
}

/* Flipping transform fun */
.flip-container {
  position: fixed;
  top: 0;
  right: 0;
  margin: 24px;
	perspective: 100px;
}
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container, .front, .back {
	width: 48px;
	height: 48px;
  border-radius: 50%;
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	transform: rotateY(0deg);
}
.back {
	transform: rotateY(180deg);
}


/* Special states of UI */
.loaded {
  opacity: 1;
}
.blur {
  filter: blur(50px);
  transform: scale(1);
}
