#trackit-spotlight {
  z-index: 999999999;
  position: fixed;
  top: 45%;
	width: 450px;
	padding: 8px;
	margin: 48px;
	/*overflow: hidden;*/
	border-width: 1px;
	border-style: solid;
	font: bold 16px/16px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border-color: #dedede #bababa #aaa #bababa;
	box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 24px 84px #666;
	border-radius: 10px;
	background-color: #f6f6f6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: linear-gradient(top, #f6f6f6, #eae8e8);
}

#trackit-spotlight .trackit-spotlight-input {
	width: 434px;
	height: 36px;
	padding: 8px 6px;
	font: normal 16px/20px 'helvetica';
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	border-radius: 3px;
}

#trackit-spotlight .trackit-spotlight-input:focus {
	outline: 0;
	border-color: #aaa;
	box-shadow: 0 1px 1px #bbb inset;
}

#trackit-spotlight .trackit-spotlight-input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
}

#trackit-spotlight[data-type]:after {
	font: bold 16px 'helvetica';
  color: white;
  padding: 4px;
  margin: 4px 0;
  display: block;
  float: left;
}
#trackit-spotlight[data-type="actionitem"]:after {
  content: "Action Item";
  background-color: #f66;
}

#trackit-spotlight[data-type="decision"]:after {
  content: "Decision";
  background-color: #6B6;
}

#trackit-spotlight[data-project]:before {
  font: 14px 'helvetica';
  color: #888;
  margin: 4px 0;
  display: block;
  float: left;
  content: attr(data-project);
}
